body {
  background-size: 400% 400%;
  background-color: #1c1c1c;
  animation: BodyBg 3s ease infinite;
}

@keyframes BodyBg {
  0% {
        background-color: #1c1c1c;
  }
  50% {
        background-color: #292929;
  }
  100% {
        background-color: #1c1c1c;
  }
}