body {
  width: 100%;
  height: 100%;
  background-size: 400% 400%;
  background-color: #1c1c1c;
  animation: BG 5s ease infinite;
}

@keyframes BG {
  0% {
        background-color: #1c1c1c;
  }
  50% {
        background-color: #292929;
  }
  100% {
        background-color: #1c1c1c;
  }
}
